# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ng-quick-look/dist
/ng-quick-look/tmp

# dependencies
node_modules

# IDEs and editors
/ng-quick-look/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/ng-quick-look/.sass-cache
/ng-quick-look/connect.lock
/ng-quick-look/coverage/*
/ng-quick-look/libpeerconnection.log
npm-debug.log
testem.log
/ng-quick-look/typings

# e2e
/ng-quick-look/e2e/*.js
/ng-quick-look/e2e/*.map

#System Files
.DS_Store
Thumbs.db
